aiohttp
aiosignal
async-timeout
attrs
brotlipy
certifi==2022.12.7
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dataclasses
datasets
dill
filelock
Flask
fonttools
frozenlist
fsspec
future
huggingface-hub
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mkl-service==2.4.0
mpmath
multidict
multiprocess
munkres==1.1.4
networkx
numpy
opencv-python
packaging
pandas
Pillow
ply==3.11
pyarrow==11.0.0
pycparser
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
PySocks
python-dateutil
pytz
PyYAML
regex
requests
responses
scikit-learn
scipy==1.9.3
sip
six
sympy
threadpoolctl
tokenizers
toml
tomli
torch==2.0.0
tornado
tqdm
transformers
typing_extensions
tzdata
unicodedata2
urllib3
Werkzeug
win-inet-pton
xxhash
yarl
zipp
gunicorn
